/*  your css code here. If applicable */
header{
	background-color:#F6F6F6;
}
.block-heading{
	text-align:center;
}
#container{
	background-color:white;
}
.summary{
	background-color:#f7fbff;
	position:absolute;
}
a{
	text-decoration:none !important;
}